<body>
    <div class="jumbotron text-center">
        <h1 style="text-align:center;"> Contact </h1>   <br>
    <h2>
        LET’S GET IN CONTACT
        <br>   <br>
        Do you have any questions? 
        <br> 
        <span style="padding-left: 50px"></span>We’d love to hear from you. 
        Complete the form, and we will get back to you soon.
    </h2> 
        <br><br>
        <div style="text-align: center; padding-bottom: 50px;">
            <form method="" action="/Week_6/Friday/MenuContents/home.html">
                <label for="firstname">First Name:</label><br>
                <input type="text" id="firstname" name="firstname" style="margin-bottom:10px; width: 30%;"><br>
                <label for="lastname">Last Name:</label><br>
                <input type="text" id="lastname" name="lastname" style="margin-bottom:10px; width: 30%;"><br><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" style="margin-bottom:10px; width: 30%;"><br><br>
                <p> - Comments - </p>
                <textarea name="comment" rows="12" cols="35">Send your comments.</textarea><br>

                <input type="submit" value="Submit" onclick="myFunction()">
                <!-- <button onclick="myFunction2()"> Example Button </button> -->
            </form>
        </div>
    </div>
</body>