<body>
    <div class="jumbotron text-center">
        <h1 style="text-align:center;"> Products </h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        <ul>
                            <li><h2>American Airlines</h2></li>
                            <li><h2>DELTA</h2></li>
                            <li><h2>United Airlines</h2></li>
                            <li><h2>United Arab Emirates</h2></li>
                            <li><h2>Southwest</h2></li>
                            <li><h2>China Southern Airlines</h2></li>
                            <li><h2>Ryanair</h2></li>
                        </ul>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>